table tr td{
    border: 1px solid black;
    padding: 8px 15px;
}

.flex-admin_users{
    display: flex;
}

.users-info{
    padding: 155px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto; 
    padding: 155px;
}
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  